<div class="container">
    <div *ngIf="(patientsDoctors | async) as datosCombinados" class="row">

        <div class="col-lg-4">
            <h1>Doctors</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Specialtie</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of datosCombinados[0]">
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.specialties }}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm">Editar</button>
                                <button class="btn btn-danger btn-sm" (click)="deleteDoctor(doctor._id)">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-4">
            <div class="text-center">
                <h3>HRegistrationApp</h3>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Doctors</h5>
                    <p class="card-text">Register here to join our team of doctors.</p>
                    <a routerLink="/doctors" class="btn btn-primary">Register</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Patients</h5>
                    <p class="card-text">Register here to become our valued patient.</p>
                    <a routerLink="/patients" class="btn btn-primary">Register</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Appointments</h5>
                    <p class="card-text">Schedule your appointment with our doctors.</p>
                    <a routerLink="/appointments" class="btn btn-primary">Schedule</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4" >
            <h1>Patients</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Identification</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of datosCombinados[1]">
                        <td> {{patient.name}} </td>
                        <td> {{patient.identification}} </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm">Editar</button>
                                <button class="btn btn-danger btn-sm" (click)="deletePatient(patient._id)">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
