<form>
    <h2>Registro de pacientes</h2>

    <label for="nombreP">Nombre:</label>
    <input type="text" id="nombreP" name="nombrep" required>

    <label for="cedulaP">Número de cédula:</label>
    <input type="text" id="cedulaP" name="cedulaP" required>

    <label for="apellidoP">Apellido:</label>
    <input type="text" id="apellidoP" name="apellidoP" required>

    <label for="edadP">Edad:</label>
    <input type="number" id="edadP" name="edadP" required>

    <label for="telefonoP">Teléfono:</label>
    <input type="tel" id="telefonoP" name="telefonoP" required>

    <button type="submit">Enviar</button>
</form>