<form [formGroup]="loginForm">
    <h2>Registro de doctores</h2>

    <label for="name">name:</label>
    <input input formControlName="name" type="text" id="name" name="name" required>

    <label for="lastName">lastName:</label>
    <input input formControlName="lastName" type="text" id="lastName" name="lastName" required>

    <label for="specialties">specialties:</label>
    <input input formControlName="specialties" type="text" id="specialties" name="specialties" required>

    <label for="consultingRoom">consultingRoom:</label>
    <input input formControlName="consultingRoom" type="text" id="consultingRoom" name="consultingRoom" required>

    <label for="email">email de contacto:</label>
    <input input formControlName="email" type="email" id="email" name="email" required>

    <button (click)="sendDoctor()" class="btn btn-danger" type="submit">Enviar</button>
</form>


