<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form [formGroup]="doctorForm">
                <h2 class="text-center">Registro de doctores</h2>

                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input formControlName="name" type="text" id="name" name="name" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="lastName">Apellido:</label>
                    <input formControlName="lastName" type="text" id="lastName" name="lastName" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="specialties">Especialidades:</label>
                    <input formControlName="specialties" type="text" id="specialties" name="specialties" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="consultingRoom">Consultorio:</label>
                    <input formControlName="consultingRoom" type="text" id="consultingRoom" name="consultingRoom" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="email">Email de contacto:</label>
                    <input formControlName="email" type="email" id="email" name="email" class="form-control" required>
                </div>

                <div class="text-center">
                    <button (click)="sendDoctor()" class="btn btn-primary" type="submit">Enviar</button>
                    <button class="btn btn-danger" type="submit">Atrás</button>
                </div>
            </form>
        </div>
    </div>
</div>