<form>
    <h2>Registro de doctores</h2>

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" required>

    <label for="especialidad">Especialidad:</label>
    <select id="especialidad" name="especialidad" required>
        <option value="">Seleccione una opción</option>
        <option value="medicina general">Medicina General</option>
        <option value="pediatría">Pediatría</option>
        <option value="ginecología">Ginecología</option>
        <option value="dermatología">Dermatología</option>
        <!-- agregar más opciones de especialidad si es necesario -->
    </select>

    <label for="consultorio">Consultorio:</label>
    <input type="text" id="consultorio" name="consultorio" required>

    <label for="correo">Correo de contacto:</label>
    <input type="email" id="correo" name="correo" required>

    <button type="submit">Enviar</button>
</form>