<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form>
                <h2 class="text-center">Registro de citas</h2>

                <div class="form-group">
                    <label for="cedulaP">No Identificación:</label>
                    <input type="text" id="cedulaP" name="cedulaP" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="especialidadC">Especialidad:</label>
                    <select id="especialidadC" name="especialidadC" class="form-control" required>
                        <option value="">Selecciona una especialidad</option>
                        <option value="General medicine">General medicine</option>
                        <option value="Cardiology">Cardiology</option>
                        <option value="Internal Medicine">Internal Medicine</option>
                        <option value="Dermatology">Dermatology</option>
                        <option value="Physical rehabilitation">Physical rehabilitation</option>
                        <option value="Psychology">Psychology</option>
                        <option value="Odontology">Odontology</option>
                        <option value="Radiology">Radiology</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="doctorsBySpecialtie">Doctor:</label>
                    <select id="doctorsBySpecialtie" name="doctorsBySpecialtie" class="form-control" required>
                        <option value="">Selecciona un doctor</option>
                        <option *ngFor="let doctor of doctors$ | async" [value]="doctor._id">{{ doctor.name }}</option>
                    </select>
                </div>

                <div class="text-center">
                    <button class="btn btn-danger" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
