<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form>
                <h2 class="text-center">Registro de citas</h2>

                <div class="form-group">
                    <label for="cedulaP">No Identificación:</label>
                    <input type="text" id="cedulaP" name="cedulaP" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="especialidadC">Especialidad:</label>
                    <input type="text" id="especialidadC" name="especialidadC" class="form-control" required>
                </div>

                <div class="text-center">
                    <button class="btn btn-danger" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
